#answerTotal{
    font-size: 2em;
}

.inputBox{
    position: -webkit-sticky;
position: sticky;
top: 10px;
}

table td + td { 
    border-left: 1px solid; 
}

table, td{
    text-align: center;
}

.modal-content
{
  background: transparent !important;
  border: none !important;
}

td a{
  display:block;
  width:100%;
  color: white;
  text-decoration: none;
}

table td a:hover {
  color:white;
  text-decoration: none;
}